<nav>
  {% load static %}
  {% load wagtailcore_tags %}
  <div class="logo-container">
    <img src="{% static 'imgs/wb.jpg' %}" alt="#" />
    <p class="chimera">Химера</p>
  </div>

  <ul>
    <li>
      <img src="{% static 'imgs/null.png' %}" alt="#" />
    </li>

    <li>
      <a href="#infor"> <img src="{% static 'imgs/binary-code.png' %}" alt="#" /> </a>
    </li>

    <li>
      <a href="#viruses"> <img src="{% static 'imgs/virus.png' %}" alt="#" /></a>
    </li>

    <li>
      <a href="#biomet"> <img src="{% static 'imgs/eye.png' %}" alt="#" /></a>
    </li>

    <li>
      <img src="{% static 'imgs/null.png' %}" alt="#" />
    </li>

    <li></li>
  </ul>
</nav>

<button onclick="scrollWin()" style="position:fixed">
    <img src="{% static 'img/scroll.png' %} alt="#">
</button>

<div>
  <div class="block">
    <div class="trian"></div>
    <div class="paralr"></div>
    <div class="paralm"></div>
    <div class="parall"></div>
    <h1>Истоки</h1>
    <h3>Языки программирования</h3>
    <div class="greeting">
      <p>Добро пожаловать на тропу познания.</p>
      <p>Приятного путешествия!</p>
    </div>
  </div>

  <div class="deer">
    <img src="{% static 'imgs/deer.png' %}" alt="#" />
  </div>
</div>

{% for p in page.get_children %}
<div id="{{p.specific.title}}" class="nav-div"></div>
<div class="rect1" id="{{p.specific.title}}">
  {{p.specific.body|richtext}}
</div>

<div class="addinfo1">
  {{ p.specific.extra_info|richtext }}
</div>
{% endfor %}

<!--Добавить эффект матового стекла-->
<!--И конечно прополировать-->
<!-- invis прозрачный элемент,чтоб удобно было читать-->
<!--Заметки:
-Найти справочник по href/a и найти,как правильно сделать отступ
-->

<div id="invis"></div>
