<nav>
   {% load static %}
    <div class="logo-container">
      <img src="{% static 'imgs/wb.jpg' %}" alt="#">
      <p class="chimera"> Химера </p>
    </div>
    
     <ul>
        <li>
            <img src="{% static 'imgs/info.png' %}" alt="#">
        </li>
      
        <li>
            <a href="#infor"> <img src="{% static 'imgs/home.png' %}" alt="#"> </a>
        </li>
      
        <li>
          <a href="#virusi"> <img src="{% static 'imgs/virus.png' %}" alt="#"></a>
        </li>
      
         <li>
          <a href="#biomet"> <img src="{% static 'imgs/eye.png' %}" alt="#"></a>
      </li>
      
      <li>
      <img src="{% static 'imgs/null.png' %}" alt="#">
      </li>
      
      <li></li>
    </ul>
    
  </nav>

  <div>
    <div class="block">
      <div class="trian"></div>
      <div class="paralr"></div>
      <div class="paralm"></div>
      <div class="parall"></div>
      <h1>Истоки</h1>
      <h3>Языки программирования</h3>
       <div class="greeting">
        <p>Добро пожаловать на тропу познания.</p>
        <p>Приятного путешествия!</p>
      </div>
    </div>

    <div class="deer">
      <img src="{% static 'imgs/deer.png' %}" alt="#">
    </div>
  </div>
  
  
  <div>
      <div class="main1">
      <p id="info"> Самое главное</p>
      </div>
      <div  class="rect1"></div>
          <div class="cube1"> 
             <a id="infor"></a>
              <p> Заметка </p>
          </div>
              <div class="cube2">
                  <p>Заметка</p>
              </div>
                  <div class="cube3">
                      <p>Заметка</p>
                  </div>
      <div class="addinfo1">
          <p> Дополнительная информация</p>
      </div>
      
      <div class="main2">
      <p id="virus"> Самое главное</p>
      </div>
      <div  class="rect1-1"></div>
          <div class="cube1-1"> 
             <a id="virusi"></a>
              <p> Заметка </p>
          </div>
              <div class="cube2-1">
                  <p>Заметка</p>
              </div>
                  <div class="cube3-1">
                      <p>Заметка</p>
                  </div>
      <div class="addinfo2">
          <p> Дополнительная информация</p>
      </div>
      
      <div class="main3">
      <p id="biom"> Самое главное</p>
      </div>
      <div  class="rect1-2"></div>
          <div class="cube1-2"> 
             <a id="biomet"></a>
              <p> Заметка </p>
          </div>
              <div class="cube2-2">
                  <p>Заметка</p>
              </div>
                  <div class="cube3-2">
                      <p>Заметка</p>
                  </div>
      <div class="addinfo3">
          <p> Дополнительная информация</p>
      </div>    

<!--Добавить эффект матового стекла-->
           <!--И конечно прополировать-->
            <!-- invis прозрачный элемент,чтоб удобно было читать-->
 <!--Заметки:
-Найти справочник по href/a и найти,как правильно сделать отступ
-->             
          
  </div>

                                <div id="invis"></div>
